<footer id="footer">
    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4 style="font-family: 'Poppins', sans-serif;">Our Newsletter</h4>
                    <p>Subscribe us to get Latest Updates Related with cryptocurrency and blockchain technology.</p>
                </div>
                <div class="col-lg-6">
                    <form action="" method="post"> <input type="email" name="email"><input type="submit"
                            value="Subscribe"> </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Blog</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Latest News</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Explore</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Coins Prices</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Guide</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Coin Details</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">News</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p> IT Park <br> Abbottabad, Mandian<br> Pakistan <br><br> <strong>Phone:</strong> +92 310 5054604
                       <br> <strong>Email:</strong> ahsanusman002@gmail.com<br> </p>
                </div>
                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>About Us</h3>
                    <p>CryptoCurrencyChecker provides a fundamental analysis of the crypto market. In addition to tracking price, volume and market capitalisation open-source code development, major events and on-chain metrics.</p>
                    <div class="social-links mt-3"> <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> <a
                            href="#" class="facebook"><i class="bi bi-facebook"></i></a> <a href="#"
                            class="instagram"><i class="bi bi-instagram"></i></a> <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> </div>
                </div>
            </div>
        </div>
        <div class="copyright"> &copy; Copyright <strong><span>CryptoCheck</span></strong>. All Rights Reserved </div>
        <div class="credits"> Designed by <a href="#">Ahsan Usman</a> </div>
    </div>
</footer>